<?xml version="1.0" encoding="utf-8"?>
<TxSite name="测试" type="Txooo.Web.TxSite">

  <DefaultSkin type="Txooo.Web.TxSkin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/</TemplatePath>
  </DefaultSkin>
  <!--默认页面处理程序-->
  <DefaultPage type="Txooo.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="Txooo.Web.Htmx.HtmxHandler1" />   
      <Parsers>
        <add type="Txooo.Web.Parse.VariableParser" />
        <add type="Txooo.Web.Parse.TemplateParser" />
        <add type="Txooo.Web.Parse.VariableParser" />
      </Parsers>
    
  </DefaultPage>

  <!--<TxPage type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>(.*?)/AddWorker.htm</MappedRegexStr>
    <Handler type="Txooo.SAAS.Brand.KF.KFWorkerHanlder" />
  </TxPage>-->
  
</TxSite>