<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <TxConfig type="Txooo.TxConfig">
    <!--当前应用程序信息-->
    <App name="测试应用程序" />
    <!--变量信息-->
    <Variable>
      <Add name="DefaultSkinPath" value="~/Skin/lsjmw/Tx_Skin.config" />
    </Variable>
  </TxConfig>
  
  <!--数据库信息-->
  <Database type="Txooo.Data.DatabaseConfig">
    <ConnString>
      <TxoooBrands IfEncrypt="false">Server=192.168.31.50;Database=TxoooBrands;UID=sa;Password=zdltar;</TxoooBrands>
    </ConnString>
  </Database>

  <TxSecurity checkurl="true" type="Txooo.Web.Security.TxSecurityConfig">
    <TxUserType>Txooo.SAAS.RBAC.TxUser</TxUserType>
    <LoginUrl>http://passport.txooo.com/login.html</LoginUrl>
    <DefaultUrl>http://passport.txooo.com/Main.html</DefaultUrl>
    <!--Cookie相关信息-->
    <Cookie>
      <ValidateIP>False</ValidateIP>
      <Key>ZAQ!xsw2CDE#vfr4</Key>
      <Name>TxMyCookie</Name>
      <Timeout>120</Timeout>
      <Domain>txooo.com</Domain>
      <RequireSSL>False</RequireSSL>
      <SlidingExpiration>True</SlidingExpiration>
      <CookiePath>/</CookiePath>
      <CookieMode>UseDeviceProfile</CookieMode>
    </Cookie>
    <StopType>Info</StopType>
    <StopInfo><![CDATA[<script id="timeout">var returnUrl=window.location.href;window.location='http://passport.txooo.com/login.html?ReturnUrl='+encodeURIComponent(returnUrl);</script>]]></StopInfo>
    <!--需要授权的目录-->
    <AuthorizationPath>
      <Add value="/" />
    </AuthorizationPath>
    <OpenPath>
      <!--页面开放-->
      <Add value="/index.htm" />
      <Add value="/favicon.ico" />
      <Add value ="/Skin/"/>
      <Add value="/Js/"/>
      <Add value="/Msg/"/>
      <Add value="/ShowMsg.htm"/>
      <Add value="/ShowPic.aspx"/>      
      <Add value="/wifihandler.ashx"/>
      <Add value="/Txooo/SAAS/Ajax/OutSite.ajax"/>
      <Add value="/Txooo/SAAS/Brand/Printer/Ajax/printerajax.ajax"/>

    </OpenPath>

    <SecurityIP>
      <!--内网-->
      <Add ip="127.0.0.1" mask="255.255.255.0" />
      <Add ip="192.168.1.0" mask="255.255.255.0" />
      <Add ip="10.10.10.0" mask="255.255.255.0" />
      <!--IDC-->
      <Add ip="211.151.68.80" mask="255.255.255.240" />
      <Add ip="58.83.148.0" mask="255.255.255.192" />
      <!--办公-->
      <Add ip="221.123.167.30" mask="255.255.255.240" />
      <!--武汉-->
      <Add ip="27.17.38.14" mask="255.255.255.255" />
    </SecurityIP>

  </TxSecurity>

  <!--站点配置信息-->
  <TxWeb type="Txooo.Web.TxWeb">
    
    <TxSite name="测试" file="site.config">
      <host value="www.site2.com" />
    </TxSite>

    <Erorr404>
      <add path="*.htm" />
      <add path="*.aspx" />
    </Erorr404>
  </TxWeb>

  <!--日志调试信息-->
  <log4net path="../SiteLog/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="Txooo.TxConfig">
      <level value="ALL" />
      <appender-ref ref="Txooo.TxConfig.Appender" />
    </logger>
  </log4net>
  
</configuration>